<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/home.css' %}"
    />
  </head>
  <body>
    <header>
      <h1>Welcome to the Home Page</h1>
    </header>
    <main>
      <p>
        This is the landing page for the LMS App. Explore features and
        functionality of our Learning Management System.
      </p>
      <button>Get Started</button>
    </main>
    <footer>
      <p>&copy; 2024 LMS App. All rights reserved.</p>
    </footer>
  </body>
</html>
